:root {
  --primary-card: linear-gradient(135deg, #cbf1dc 0%, #7be9ac 100%);
  --info-card: linear-gradient(135deg, #d1e4fb 0%, #6dacf9 100%);
  --error-card: linear-gradient(135deg, #f7dbe0 0%, #ff9cae 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-card: linear-gradient(135deg, #576d61 0%, #16472c 100%);
    --info-card: linear-gradient(135deg, #555f6b 0%, #1a406e 100%);
    --error-card: linear-gradient(135deg, #654d50 0%, #500f1b 100%);
  }
}
